*{
  margin:0;
  padding: 0;
}
html,body{
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
body{
  background-color: #262626;
}

body .heading-container{
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  margin-top: auto;
  background-color: black;
}
footer .container{
  padding-top: 150px;
}
footer .container a{
  text-decoration: none;
}
.footer p{
  margin-top: 50px;
}

.about-container{
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:80%;
  margin-left: 150px;
  color: white;
  background-color: #262626;
  border-radius: 20px;
  font-size: larger;

}
.contact-container{
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.new-blog-container{
  margin-top: 150px;
  margin-bottom: 100px;
}
nav .container-fluid{
  padding: 20px;
  background-color: rgba(13, 109, 253, 0.9) ;
}
nav{
  padding: 0 !important;
}